.header{
    background-color: var(--transparente);
    padding: 1rem;
    border: 1px solid var(--transparente-borda);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
}
.header-div{
    display: flex;
    margin: auto;
    padding: auto;
        
}
.header-name{
    font-family: var(--font-destaque);
    font-size: 1.5rem;
    margin-left: 5rem;
    color: var(--font-color);
}